<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/get_users.js"></script>
</head>
<body>
    <div id="users">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.user_name}}</td>
                <td>{{user.user_email}}</td>
            </tr>
            {% else %}
            <h4>No users found</h4>
            {% endfor %}
    </div>
</body>
</html>